* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

button {
	cursor: pointer;
}

body {
	background-color: #f3f3f3;
}

.wrapper-main {
	width: 900px;
	margin: 0 auto;
}

header {
	width: calc(100% - 30px);
	height: 60px;
	padding: 0 15px;
	background-color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.nav-header-main {
	height: 80%;
	display: flex;
	flex-direction: row;
}

.header-logo {
	width: 48px;
	padding-right: 20px;
}

.nav-header-main img {
	height: 100%;
}

.nav-header-main ul {
	height: 100%;
}

.nav-header-main ul li {
	list-style: none;
	float: left;
	height: 100%;
}

.nav-header-main ul li a {
	display: block;
	height: 100%;
	padding: 0 10px;
	border-radius: 6px;
	line-height: 48px;
	font-family: arial;
	font-size: 16px;
	color: #111;
	text-transform: uppercase;
}

.header-login {
	height: 60%;
	display: flex;
	flex-direction: row;
}

.header-login form {
	height: 100%;
}

.header-login form input {
	height: 100%;
	width: 160px;
	padding: 0 15px;
	border: none;
	border-radius: 4px;
	background-color: #f6f6f6;
	float: left;
	margin-left: 8px;
	font-family: arial;
}

.header-login form button {
	height: 100%;
	padding: 0 10px;
	border: none;
	border-radius: 4px;
	background-color: #333;
	margin-left: 8px;
	font-family: arial;
	font-size: 13px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}

.header-signup {
	height: 100%;
	width: 70px;
	padding: 0 6px;
	border: none;
	border-radius: 4px;
	margin-left: 8px;
	font-family: arial;
	font-size: 13px;
	line-height: 36px;
	color: #111;
	text-transform: uppercase;
	text-align: center;
}

main {
	padding-top: 20px;
}

.section-default {
	width: 100%;
	padding: 20px;
	border-radius: 6px;
	background-color: #fff;
}

.login-status {
	text-align: center;
	font-size: 26px;
	font-family: arial;
	color: #111;
}

h1 {
	text-align: center;
	font-size: 26px;
	font-family: arial;
	color: #111;
}

/* signup.php */

.form-signup {
	margin: 0 auto;
	padding-top: 20px;
	width: 200px;
}

.form-signup input {
	width: calc(100% - 30px);
	height: 30px;
	padding: 0 15px;
	margin-bottom: 6px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #f6f6f6;
	float: left;
	font-family: arial;
}

.form-signup button {
	display: block;
	height: 40px;
	padding: 0 10px;
	margin: 0 auto;
	border: none;
	border-radius: 4px;
	background-color: #333;
	font-family: arial;
	font-size: 13px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}
.signuperror {
	padding-top: 14px;
	font-family: arial;
	font-size: 16px;
	color: red;
	text-align: center;
}

.signupsuccess {
	padding-top: 14px;
	font-family: arial;
	font-size: 16px;
	color: green;
	text-align: center;
}
.custom-select {
	position: relative;
	font-family: Arial;
}

.custom-select select {
	display: none; /*hide original SELECT element: */
}

.select-selected {
	background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
	position: absolute;
	content: "";
	top: 14px;
	right: 10px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
	border-color: transparent transparent #fff transparent;
	top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
	color: #ffffff;
	padding: 8px 16px;
	border: 1px solid transparent;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
}

/* Style items (options): */
.select-items {
	position: absolute;
	background-color: DodgerBlue;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
	display: none;
}

.select-items div:hover,
.same-as-selected {
	background-color: rgba(0, 0, 0, 0.1);
}
